.label{
  font-weight: 700;
  margin-left: 0px;
}
.form-container{
  margin-top: 20px;
  margin-left: 10px;
  display:flex;
  justify-content: center;
  padding:10px;
  min-width: 70vw;
  min-height: 70vh;
  }
.form-box{
  display: flex;
  flex-direction: column;
  padding:30px;
  justify-content: flex-start;
  /* border:1px solid black; */
  min-width: 75vw;
  max-width: 75vw;
  min-height: 70vh;
  max-height: 70vh;



}
.label{
margin:10px;

}

