.icons-box {
  display: flex;
}
.icons-outerbox {
  display: flex;
  justify-content: flex-end;
}
.title-time-box {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  color: white;
  padding-left: 10px;
  cursor: pointer;
  
}
.entry-box {
  padding: 10px;
  max-width: 20vw;
  max-height: 30vh;
}
.cursor {
  cursor: pointer;
}
.entry-body {
  font-weight: 200;
}

